body{
    padding-top: 62px;
    font-size: 14pt;
    font-family: sans-serif;
    color: #c1ccb7;
    background:url(http://bootstraptema.ru/assets/img/bg/dementor.png);
    background-size: 100% 100%;

}
nav{
    font-size: 18pt;
}
.dropdown-toggle::after { display:none }
.dropdown:hover > .dropdown-menu {
    display: block;
}
#news{
    padding: 10px;
    min-width: 200px;
    margin: 20px;
}
hr{
    color: white;
    background-color:white;
}
.name{
    padding-left: 65%;
}
.fanPost{
    display: inline-block;
    margin-left: 3%;
}
.admitIMG{
    display: inline-block;
}
.admitPostTitle{
    padding-top: 10px;
}
.admitPost{
    display: inline-block;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
.marquee {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
a.news{
    text-decoration: none;
    color: black;
}
.marquee * {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 30s infinite linear;
    animation: scroll 30s infinite linear;
}
.card{
    position: center;
    background-color: #b6b6b6;
    color: black ;
    font-family: sans-serif;
    transform: scale(0.9);
    transition: all 0.5s;
    /*filter: grayscale(1);*/
}
.card:hover {
    transform: scale(1.1);
    /*filter: grayscale(0);*/
}

@media (min-width: 992px) {
    .nav-item{
        transform: scale(0.9);
    }
    .nav-item:hover{
        transform: scale(1.2);
        transition: all 0.2s;
    }
    .dropdown-item:hover{
        background-color: #343a40;
        color: white;
    }
    .dropdown-item:hover{
        transform: scale(1.2);
        transition: all 0.2s;
    }
    }
.nav-link:hover{
    color: #c1ccb7;
}
.navbar{
    background-color: #343a40 ;
    color: white;
}
.nav-link{
    color: white;
}
.dropdown-menu{
    background-color: #343a40 ;
}
.dropdown-item{
    color: white;
}

.logo:hover{
    transform: rotate3d(360,360,360, 360grad);
    transition: all 3s;
}
.nav-item.home{
    -webkit-animation: animationForNavItem linear 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes animationForNavItem {
    0% {
        -webkit-transform:  scale(0);
    }
    100% {
        -webkit-transform:  scale(0.8);
    }
}

.logo{
    -webkit-animation: animationForLogo linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes animationForLogo {
    0% {
        -webkit-transform:  translate(50px,0px)  rotate3d(0,0,0, 0grad) ;
    }
    100% {
        -webkit-transform:  translate(0px,0px)  rotate3d(360,360,100, 360grad) ;
    }
}

.container{
    padding-top: 2%;
}

iframe{
    -webkit-box-shadow: 12px 29px 81px 10px rgba(0,0,0,1);
    -moz-box-shadow: 12px 29px 81px 10px rgba(0,0,0,1);
    box-shadow: 12px 29px 81px 10px rgba(0,0,0,1);
}

    .navbar-toggler > .nav-item{
        transform: scale(0.5);
    }
    .navbar-toggler:hover > .nav-item {
        transform: scale(1);
        transition: all 0.2s;
    }

.adminNewsTitle{
    width: 39%;
    margin-top: 2%;
    margin-bottom: 2%;
    }

.adminNewsText{
    margin-bottom: 2%;
}

.adminNewsImg{
    margin-left: 2%;
}

.addAdminNewsImg{
    margin-top: 37%;
}

.getFansPostButton{
    margin-top: 1%;
    margin-left: 2.5%;
}
.container-for-fun-post{
    background-color: #b6b6b6;
    color: black;
    border-radius: 5px;
    margin-bottom: 1%;
    padding: 2%;
    transform: scale(0.97);
}
.container-for-fun-post:hover{
    transform: scale(1);
}
.text-in-fun-post{
    padding-bottom: 15px;
}
.custom-file-input{
    height: 0 ;
    max-width: 0;
}
footer{
    padding-top: 100px;
    text-align: center;
}
