.main-header{
}

.main-home{
  margin-top: 60px;
}

.main-calendar-of-races{
  margin-top: 60px;
}

.main-next-race{
  margin-top: 60px;
}

.main-ratings{
  margin-top: 60px;
}

.main-news{
  margin-top: 60px;
}

.main-contacts{
  margin-top: 60px;
}

.main-fans{
  margin-top: 60px;
}

.main-admin{
  margin-top: 60px;
}